* {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    box-sizing: border-box;
}

body {
    background-color: #33694b;
}

header {
    background: url(https://images.wallpaperscraft.com/image/code_lines_programming_130775_2560x1080.jpg) no-repeat center;
    border: 9px double #33694b;
    border-radius: 16px;
    height: 300px;
    width: 100%;
    position: relative;
    text-align: center;
}

h1, h2 {
    color:  whitesmoke;
    position: relative;
    top: 25%;
    display: block;
    }

h2 {
    height: 34px;
    size: 20px;
    margin: 0;
    opacity: 60%;
}

h1 {
    height: 80px;
    size: 64px;
    margin: 0;
}

/* LOGO & scrollTop */

button {
    border: none;
}

.siteLogo {
    position: fixed;
    z-index: 100;
    margin-top: 7px;
    margin-left: 7px;
    width: 40px;
    height: 40px;
    transition: transform .2s;
    background: url(./images/icons8-monitor-96.png) no-repeat;
    background-size: cover;
}

.siteLogo:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1);
}

/* Style the links inside the navigation bar */

navigation a{
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
    width: 33%;
  }

/* Change the color of links on hover */

navigation a:hover {
    background: url('./images/forests/forest2.jfif') no-repeat center;
    color: black;
    border-radius: 16px;
    font-style: oblique;
    font-weight: bold;
  }

/* Add a color to the active/current link */

navigation a.active {
    background-color: #4CAF50;
  }

embed {
    overflow: scroll;
    max-height: 450px;
    width: 100%;
    }



.langImg {
    height: 170px;
    width: 170px;
    padding: 50px;
    transition: transform .2s;
    margin: 0 auto;
}

.langImg:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5);
}

#myNotates {
    text-align: center;
    display: -moz-inline-box;
    background: url('./images/forests/forest3.jpg') no-repeat center;
    border: 9px double #33694b;
    border-radius: 16px;
}

.myBtn {
    display: block; /* Hidden by default */
    z-index: 99; /* Make sure it does not overlap */
    border: 10px double #33694b; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #193f2a; /* Set a background color */
    color: whitesmoke; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 5px; /* Some padding */
    border-radius: 15px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.myBtn:hover {
    background: url('./images/forests/forest2.jfif') no-repeat center;
    color: black;
    border-radius: 16px;
    font-weight: bold;
}

.siteBottom {
    width: 100%;
    text-align: right;
    font-size: small;
    font-style: italic;
    display: block;
}

/* containers styling */

main {
    width: 100%;
}

h3 {
    text-align: center;
}

#usefulSites {
    display: inline-block;
    background: url(./images/forests/1forest.jfif) no-repeat center;
    float: left;
    width: 50%;
    border: 9px double #33694b;
    border-radius: 16px;
    padding: 5px 10px 5px 10px;
}

#myInspirations {
    display: inline-block;
    width: 50%;
    background: url(./images/forests/forest4.jpg) no-repeat center;
    float: right;
    border: 9px double #33694b;
    border-radius: 16px;
    padding: 5px 10px 5px 10px;
}

#aboutMe {
    display: inline-block;
    height: 300px;
    width: 100%;
    border: 9px double #33694b;
    border-radius: 16px;
    padding: 5px 10px 5px 10px;
    text-align: right;
    position: relative;
    background: url(./images/forests/forest6.jpg) no-repeat center;
}

.container {
    margin-bottom: 30px;
    height: auto;
}

.container p{
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
    display: inline;
    cursor: pointer;

}

.container p:hover {
    color: whitesmoke;
  }

img {
    width: 700px;
    height: auto;
}